main{
  margin-top:2rem;
}

.portrait{
  height:150px;
  border-radius: 20rem 20rem;
}
.aboutSection{
  padding:0 10vw 3rem 10vw;
}

@media (max-width: 576px){
  .aboutSection{
    padding:0 5vw 4rem 5vw;
  }
}
