<main role="main" class="mb-5">
  <section class="jumbotron text-center">
    <div class="container-fluid">
      <h1 class="jumbotron-heading">Animation</h1>
      <p class="lead text-dark">I do 3D and 2D Animations. Have a look at the video below to gage what I'm capable
        of doing.</p>
    </div>
    <a routerLink="/" routerLinkActive="true" class="btn btn-primary">Go to Home</a>
  </section>
  <section class="col-md-12 text-center">
    <div class="responsive-video">
      <iframe src="https://www.youtube.com/embed/XxLPh-4h1UU" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
</main>
