main{
  margin-top:1rem;
}

.col-md-4, .col-md-3{
  padding:0;
  margin:0;
}

.thumbs > img{
  overflow:hidden;
  height:100px;
  width:auto;
}

.card:hover{
  cursor:pointer;
  filter: brightness(50%);
}

#exampleModalLong img{
  width:auto;
  max-height:88vh;
  max-width: 100vw;
  margin:auto;
}

#exampleModalLong{
  padding:0 !important;
  margin:0 !important;
  cursor:pointer;
}

.modal-body{
  display:flex;
  height:88vh;
  width:100%;
  padding:0;
}

.modal-dialog{
  max-width:none;
  height:100%;
  margin:auto;
}

.closeButton > span{
  color:white;
  z-index:1051;
}

.jumbotron{
  margin-bottom: 0;
}
