main{
  margin-top:2rem;
}

.col-md-4{
  padding:0;
  margin:0;
}

.thumbs > img{
  overflow:hidden;
  height:100px;
  width:auto;
}

.card:hover{
  filter: brightness(50%);
}

#exampleModalLong img{
  width:auto;
  max-height:88vh;
  max-width: 100vw;
  filter: drop-shadow(0 0 150px black);
}

#exampleModalLong, .modal-dialog, .modal-content{
  width:100%;
}

.modal-dialog{
  margin:0;
  max-width:none;
  width:100%;
}

#exampleModalLong > .modal-dialog{
  display:flex !important;
  align-content: center;
  justify-content: center;
}

.modal-body{
  align-content: center;
  flex:0 0;
}

@media (max-width: 576px){
  .modal-body{
    align-content: center;
    flex:1 1;
  }
}

.modal-body > img{
  align-self: center;
}

.closeButton > span{
  color:white;
}

.jumbotron{
  margin-bottom: 0;
}
