.nav-logo{
  width:2vw;
  height:3vh;
}

.nav-link:hover{
  color:white;
  font-weight:bold;
  transform: scale(1.2);
}
.nav-active{
  font-weight: bold;
}

@media (max-width: 768px){
  .nav-link:hover{
    font-size:1.2em;
    transform: none;
  }
}

.nav-link{
  color: #f0f0f0 !important;
}

.fa-bars{
  color:white;
}
