<nav class="navbar navbar-light bg-dark fixed-top">
  <ul class="nav nav-pills mx-auto">
    <li class="nav-item mx-2">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#">3D</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#">2D</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>
