/* You can add global styles to this file, and also import other style files */
.appBody{
  width:75%;
  height:100vh;
}

@media (max-width: 576px){
  #slideAlternative{
    margin-top:3.5rem;
    margin-bottom: -1rem;
  }
  .appBody{
  }
}

*{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 0.2s ease-in-out;
}
